@model IEnumerable<NorthwestLabs.Models.TestTube>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Compound.CompoundDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestTubeStatus.TestTubeStatusDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestTubeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concentration)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Compound.CompoundDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestTubeStatus.TestTubeStatusDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestTubeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Concentration)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TestSerialNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.TestSerialNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TestSerialNumber })
        </td>
    </tr>
}

</table>
