@model IEnumerable<NorthwestLabs.Models.Compound>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrder.OrderComments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompoundDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxToleratedDosage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkOrder.OrderComments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompoundDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxToleratedDosage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LTNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.LTNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LTNumber })
        </td>
    </tr>
}

</table>
